# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/env/schema.mjs"
# should be updated accordingly.

# Example:
export SENDGRID_API_KEY=
export SENDGRID_DEFAULT_LIST=
export EMAIL_SERVER=
export EMAIL_FROM=
export NEXT_PUBLIC_WALLET_CONNECT=a0e09aaf0d3bc778843a8a7561ff919d
export NEXTAUTH_SECRET=
export NEXTAUTH_URL=http://localhost:3000
export GITHUB_ID=
export GITHUB_SECRET=
export GOOGLE_ID=
export GOOGLE_SECRET=